<h1 class="light-green lighten-3 black-text">Task Manager</h1>
<div class="main-container">

  <div class="create-report-container light-green lighten-3 black-text">
    <app-report-create></app-report-create>
  </div>

  <div class="show-reports-container light-green lighten-3">
    <mz-input-container>
      <i mz-icon-mdi mz-input-prefix [icon]="'text'"></i>
      <input mz-input
        (input)="startSearch($event)"
        [label]="'Поиск по имени проекта'"
        [validate]="true"
        id="search-input"
        length="150"
        type="text" >
    </mz-input-container>

    <p>Сортировка проектов в хронологическом порядке:</p>
    <div class="btn_forward"><a class="mz-icon-mdi waves-effect waves-light btn light-green darken-2" (click) = "sortForward()">по возрастанию</a>
    </div>
    <div><a class="waves-effect waves-light btn light-green darken-2" (click) = "sortBackward()">по убыванию</a>
    </div>
    
    <mz-pagination *ngIf = "allReports.length > 0"
    (pageChange)="onPageChange($event)"
    [currentPage]="pageCurrentIndex"
    [enableFirstAndLastPageButtons]="actualItemsCount > 5"
    [itemsPerPage]="pageCurrentSize"
    [totalItems]="actualItemsCount > 5 ? actualItemsCount : 1">
    </mz-pagination>

    <div *ngFor = "let report of allReports | projectFilter:searchTerm | paginationFilter:pageCurrentIndex">
      <app-one-task [record] = report></app-one-task>
    </div>
  </div>
</div>
