.main-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

h1 {
	margin: 0 auto 0 auto;
	width: 100%;
	text-align: center;
	padding: 2% 0;
}

.create-report-container {
	width: 40%;
	margin: 10% auto;
	padding: 5%;
	border-radius: 2%;
}

.show-reports-container {
	width: 40%;
	margin: 10% auto;
	padding: 5%;
	border-radius: 2%;
}

.btn_forward {
	margin-bottom: 10px;
}

@media (max-width: 900px) {
	.main-container {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	.create-report-container {
		width: 90%;
		margin: 5% auto;
	}

	.show-reports-container {
		width: 90%;
		margin: 5% auto;
	}
}